@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, sans-serif;
}


@layer base{
  .label-large{
    @apply text-lg font-medium leading-6 tracking-tighter;
  }
  .label-medium {
    @apply text-base font-medium leading-6 tracking-tight;
  }
  .label-small {
    @apply text-sm font-medium leading-5 tracking-tight;
  }
  .button-text {
    @apply text-sm font-normal leading-5 tracking-tight text-center;
  }
  .paragraph-small {
    @apply text-sm font-normal leading-5 tracking-tight;
  }
  .text-label {
    @apply text-sm font-normal leading-5 tracking-[2%];
  }
  .subheading-2x-small {
    @apply text-[11px] font-medium leading-[12px] tracking-[2%];
  }
  .subheading-x-small {
    @apply font-medium text-[12px] ;
  }

  
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fff;
  
}

/* Custom scrollbar with default-like colors */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px; /* Set scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e0e0; /* Light gray background (similar to default) */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a0a0a0; /* Medium gray scrollbar (closer to system default) */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #888888; /* Darker gray on hover */
}

/* Hide scrollbar in Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 #e0e0e0; /* Thumb (gray), Track (light gray) */
}
